POSTGRES_USER=huzaflix
POSTGRES_PASSWORD=huzaflix
POSTGRES_DB=huzaflix
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
MINIO_ROOT_USER=huzaflixadmin
MINIO_ROOT_PASSWORD=MinI0SecureP@ss2025!
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BUCKET=huzaflix-openapi
MINIO_DATA_DIR=./minio-data
MINIO_URL=http://minio:9000
