# PostgreSQL
POSTGRES_USER=huzaflix
POSTGRES_PASSWORD=huzaflix
POSTGRES_DB=huzaflix_dev
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# App
NODE_ENV=development
APP_PORT=3000
DB_HOST=postgres
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
REDIS_URL=redis://redis:${REDIS_PORT}
