# PostgreSQL
POSTGRES_USER=huzaflix
POSTGRES_PASSWORD=huzaflix
POSTGRES_DB=huzaflix_dev_user
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# App
NODE_ENV=production
APP_PORT=3000
DB_HOST=postgres
THROTTLER_TTL=60000
THROTTLER_LIMIT=100
CACHE_TTL=60000
JWT_SECRET=huzaflix_jwt_secret
SERVER_HOST=your-domain.com
API_MGMT_BASE_URL=http://api-mgmt-service:3000

# Google OAuth (set these for Google Sign-In)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://your-domain.com/auth/google/callback
ENABLE_GOOGLE_OAUTH=false


MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_SECURE=true

MAILER_USER=
MAILER_PASSWORD=
